* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
	border: none;
	outline: none;
}

body { 
   	font: 20px 'Segoe UI', sans-serif;
	font-weight: 400;
   	background-color: rgb(235, 236, 243);
}

form {
    padding: 20px; 
    position: fixed; 
    bottom: 0;
    width: 100%;
}

form input {
	background-color: rgb(187, 188, 197);
    color: rgb(41, 6, 29);
	border-radius: 8px;
    padding: 10px; 
    width: 100%; 
    margin-right: 0.5%; 
   	font: 20px 'Segoe UI', sans-serif;
	font-weight: 400;
    transition: width .5s;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    margin-bottom: 70px;
    color: rgb(7, 7, 48);
}

#messages li { 
    padding: 5px 30px; 
    word-wrap: break-word;
}

.system-notification{
    text-align: center;
	font-weight: 600;
}

.ping{
    background: rgba(6, 62, 66, 0.2);
}

::-webkit-Scrollbar{
    width: 8px; 
	background: inherit;
}
::-webkit-Scrollbar-thumb{
	border-radius: 8px;
	background-color: rgb(141, 150, 196);
}
::-webkit-Scrollbar-track{
	border-radius: 10px;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    color: black;
    background-color: rgb(218, 218, 218);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p:hover {
    color: #292727;
}

.closebtn{
    cursor: pointer;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#users-button{
    position: fixed;
    top: 25px;
    right: 40px;
    color: #5e4040;
    font-size: 75%;
    transition: 0.3s;
    --ggs: 1.75;
}

#users-button:hover{
    cursor: pointer;
    color: #292727;
}